In [32]:
import pandas as pd
import numpy as np
from sklearn.linear_model import PoissonRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

### Regresion Poisson
#### Muy importante tener las variables scaleadas

In [7]:
df["Gender"] = np.where(df.Gender=="Male",1,0)

In [29]:
# no tiene mucho sentido, pero voy a intentear predecir Age usando una regresion de poisson

feature_cols = ["Gender","EstimatedSalary","Purchased"]

X_train, X_test, y_train, y_test = train_test_split(np.array(df["Purchased"]).reshape(-1,1), df["Age"], test_size=0.3, random_state=1)

In [30]:
clf = PoissonRegressor(max_iter=600)
clf.fit(X_train,y_train)

PoissonRegressor(max_iter=600)

In [31]:
clf.predict(X_test)

array([33.08443805, 33.08443805, 44.91957346, 44.91957346, 33.08443805,
       33.08443805, 33.08443805, 44.91957346, 33.08443805, 33.08443805,
       33.08443805, 33.08443805, 33.08443805, 44.91957346, 44.91957346,
       44.91957346, 44.91957346, 33.08443805, 33.08443805, 44.91957346,
       33.08443805, 44.91957346, 44.91957346, 33.08443805, 44.91957346,
       33.08443805, 44.91957346, 33.08443805, 44.91957346, 33.08443805,
       33.08443805, 33.08443805, 33.08443805, 44.91957346, 33.08443805,
       33.08443805, 33.08443805, 33.08443805, 44.91957346, 33.08443805,
       44.91957346, 44.91957346, 33.08443805, 33.08443805, 44.91957346,
       44.91957346, 44.91957346, 44.91957346, 33.08443805, 44.91957346,
       33.08443805, 33.08443805, 44.91957346, 44.91957346, 44.91957346,
       33.08443805, 44.91957346, 33.08443805, 44.91957346, 44.91957346,
       33.08443805, 33.08443805, 33.08443805, 33.08443805, 44.91957346,
       44.91957346, 33.08443805, 33.08443805, 33.08443805, 33.08443805,
       33.08443805, 33.08443805, 44.91957346, 33.08443805, 33.08443805,
       44.91957346, 33.08443805, 33.08443805, 33.08443805, 33.08443805,
       33.08443805, 44.91957346, 44.91957346, 33.08443805, 33.08443805,
       33.08443805, 44.91957346, 33.08443805, 44.91957346, 33.08443805,
       44.91957346, 44.91957346, 44.91957346, 33.08443805, 33.08443805,
       44.91957346, 44.91957346, 44.91957346, 33.08443805, 33.08443805,
       33.08443805, 44.91957346, 33.08443805, 44.91957346, 33.08443805,
       44.91957346, 33.08443805, 44.91957346, 33.08443805, 33.08443805,
       33.08443805, 33.08443805, 33.08443805, 33.08443805, 44.91957346,
       33.08443805, 33.08443805, 33.08443805, 33.08443805, 44.91957346])

In [35]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [36]:
# vamos a predecir el genero

X_train, X_test, y_train, y_test = train_test_split(df[["Purchased","Age"]], df["Gender"], test_size=0.3, random_state=1)

In [37]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [38]:
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [41]:
clf.predict_proba(X_test)[:,1].mean(),y_test.mean()

(0.47952873230707144, 0.475)